:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
input {
  font: menu;
}

body {
  background: url(../images/imgonline-com-ua-Black-White-6CeR4Cn5f8bfCw0.png);
  background-size: 110%;
}

.btn-check,
.btn-reset {
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  padding: 8px 50px;
  color: #ffffff;
  background: #22d66a;
  border-radius: 16px;
  border: 0px solid;
  position: relative;
  top: 60%;
  left: 25%;
}
.btn-check:hover,
.btn-reset:hover {
  background: #cccdcf;
  color: #000000;
  border: 0px solid;
  transition: all 0.6s ease;
}

.btn-save {
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  padding: 8px 50px;
  color: #ffffff;
  background: #22d66a;
  border-radius: 16px;
  border: 0px solid;
}
.btn-save:hover {
  background: #cccdcf;
  color: #000000;
  border: 0px solid;
  transition: all 0.6s ease;
}

.btn-help {
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  padding: 8px 50px;
  color: #ffffff;
  background: #ff6f00;
  border-radius: 16px;
  border: 0px solid;
  position: relative;
  left: 15%;
}
.btn-help:hover {
  background: #cccdcf;
  color: #000000;
  border: 0px solid;
  transition: all 0.6s ease;
}

.btn-answer {
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  padding: 8px 50px;
  color: #ffffff;
  background: #ff6f00;
  border-radius: 16px;
  border: 0px solid;
  position: relative;
  left: 20%;
}
.btn-answer:hover {
  background: #cccdcf;
  color: #000000;
  border: 0px solid;
  transition: all 0.6s ease;
}

.btn-edit,
.btn-back {
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  padding: 8px 50px;
  color: #ffffff;
  background: #628972;
  border-radius: 16px;
  border: 0px solid;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.btn-edit:hover,
.btn-back:hover {
  background: #cccdcf;
  color: #000000;
  border: 0px solid;
  transition: all 0.6s ease;
}

.textContainer {
  height: 80%;
}

.text-input {
  font-size: 16px;
  left: 5%;
  width: 99%;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
}

.text-input:focus {
  border-color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );

  box-shadow: 0 0 0 3px
    hsla(
      var(--input-focus-h),
      var(--input-focus-s),
      calc(var(--input-focus-l) + 40%),
      0.8
    );

  outline: 3px solid transparent;
}
